<div class="sto-__PLACEHOLDER__-container-gamme">
    <div class="sto-__PLACEHOLDER__-container">
        <div class="sto-__PLACEHOLDER__-main_product">
            <div class="sto-__PLACEHOLDER__-product sto-product-center"></div>
            <div class="sto-product-container"></div>
        </div>
    </div>
</div>