/* CSS FOR ITM */

body {
    overflow-x: hidden;
}

#content .contenu {
    width: 1280px;
    padding-bottom: 0;
    margin-top: 0!important;
}


/* ----- */

.sto-__PLACEHOLDER__-global-container *:focus {
    outline: 0;
}

.sto-__PLACEHOLDER__-global-container {
    width: 100%;
    /* margin-bottom: 50px; */
    margin-top: -17px;
    /* margin-bottom: 1px; */
}

.sto-__PLACEHOLDER__-header {
    width: 100%;
    height: 464px;
    background-color: #121212;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../../img/tg2018/bg_fav.jpg);
}

.sto-__PLACEHOLDER__-center {
    width: 457px;
    margin: 0 auto;
    position: relative;
    top: 72px;
    left: -1px;
    /*height: 405px;*/
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-__PLACEHOLDER__-cta {
    display:none;
    border-radius: 2px;
    box-shadow: -1.338px 1.486px 2px 0px rgba(0, 0, 0, 0.24);
    width: 120px;
    height: 26px;
    font-size: 13px;
    font-family: arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}

.sto-__PLACEHOLDER__-cta::after {
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url(../../img/fleche.png);
    background-position: right center;
    background-repeat: no-repeat;
    margin-left: 2px;
}

.sto-__PLACEHOLDER__-right {
    display: none;
    width: 265px;
    height: 340px;
    right: 47%;
    margin-right: -440px;
    top: 87px;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;

}

/*regions*/

.sto-__PLACEHOLDER__-right[region="st1"] {
    background-image: url(../../img/tg2018/texte_beaujolais.png);
}
.sto-__PLACEHOLDER__-right[region="st4"] {
    background-image: url(../../img/tg2018/texte_provence_corse.png);
}
.sto-__PLACEHOLDER__-right[region="st6"] {
    background-image: url(../../img/tg2018/texte_savoie_jura.jpg);
}
.sto-__PLACEHOLDER__-right[region="st7"] {
    background-image: url(../../img/tg2018/texte_alsace.png);
}
.sto-__PLACEHOLDER__-right[region="st8"] {
    background-image: url(../../img/tg2018/texte_champagne.png);
}
.sto-__PLACEHOLDER__-right[region="st9"] {
    background-image: url(../../img/tg2018/texte_bourgogne.png);
}
.sto-__PLACEHOLDER__-right[region="st10"] {
    background-image: url(../../img/tg2018/texte_languedoc.png);
}
.sto-__PLACEHOLDER__-right[region="st11"] {
    background-image: url(../../img/tg2018/texte_bordeaux_02.png);
}
.sto-__PLACEHOLDER__-right[region="st12"] {
    background-image: url(../../img/tg2018/texte_sudouest.png);
}
.sto-__PLACEHOLDER__-right[region="st13"] {
    background-image: url(../../img/tg2018/texte_rhone.png);
}
.sto-__PLACEHOLDER__-right[region="st14"] {
    background-image: url(../../img/tg2018/texte_val_de_loire.png);
}

.sto-__PLACEHOLDER__-rest_world {
    position: absolute;
    width: 200px;
    height: 120px;
    top: 200px;
    left: -190px;
}
.sto-__PLACEHOLDER__-rest_world .st15 {
    height: 100%;
    width: 100%;
}

.sto-__PLACEHOLDER__-gutter-tg {
    position: absolute;
    top: 0;
    width: 4000px;
    height: 464px;
    overflow: hidden;
}

.sto-__PLACEHOLDER__-gutter-tg:after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 110%;
    display: inline-block;
}

.sto-__PLACEHOLDER__-gutter-tg.gutter-left {
    left: 130px;
    transform: translateX(-100%);
    background-color: #fff;
}

.sto-__PLACEHOLDER__-gutter-tg.gutter-right {
    right: 130px;
    transform: translateX(100%);
    background-color: #fff;
}

.sto-__PLACEHOLDER__-gutter-tg.gutter-left:after {
    /*box-shadow: inset -18px 0 30px -20px rgba(50, 50, 50, .4);*/
    background-repeat: no-repeat;
    background-position: right top;
    background:#121212;
    top: 0;
    right: 130px;
    /*background-image: url(../../img/gutter_left_desktop.jpg);*/
}

.sto-__PLACEHOLDER__-gutter-tg.gutter-right:after {
    /*box-shadow: inset 8px 0 30px -10px rgba(50, 50, 50, .4);*/
    background-repeat: no-repeat;
    background-position: left top;
    background:#121212;
    top: 0;
    left: 130px;
    /*background-image: url(../../img/gutter_right_desktop.jpg);*/
}

.sto-__PLACEHOLDER__-gutter-sf {
    position: absolute;
    top: 0;
    width: 4000px;
    height: 100%;
    overflow-y: hidden;
}

.sto-__PLACEHOLDER__-gutter-sf.gutter-left {
    left: 0;
    transform: translateX(-100%);
}

.sto-__PLACEHOLDER__-gutter-sf.gutter-right {
    right: 0;
    transform: translateX(100%);
}

.sto-__PLACEHOLDER__-gutter-sf:after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 110%;
    display: inline-block;
    background: #fff;
}

.sto-__PLACEHOLDER__-gutter-sf.gutter-left:after {
    box-shadow: inset -18px 0 30px -20px rgba(50, 50, 50, .4);
    right: 0;
}

.sto-__PLACEHOLDER__-gutter-sf.gutter-right:after {
    box-shadow: inset 8px 0 30px -10px rgba(50, 50, 50, .4);
    left: 0;
}



/* CARTE SVG */

.sto-__PLACEHOLDER__-cta[region="st1"] {
    top: 204px;
    left: 222px;
    background-color:#3a72cb;
}
.sto-__PLACEHOLDER__-cta[region="st4"] {
    top: 286px;
    left: 270px;
    background-color:#3b3876;
}
.sto-__PLACEHOLDER__-cta[region="st6"] {
    top: 186px;
    left: 279px;
    background-color:#b97301;
}
.sto-__PLACEHOLDER__-cta[region="st7"] {
    top: 88px;
    left: 281px;
    background-color:#406c82;
}
.sto-__PLACEHOLDER__-cta[region="st8"] {
    top: 79px;
    left: 188px;
    background-color:#b5871f;
}
.sto-__PLACEHOLDER__-cta[region="st9"] {
    top: 140px;
    left: 207px;
    background-color: #ba423d;
}
.sto-__PLACEHOLDER__-cta[region="st10"] {
    top: 288px;
    left: 171px;
    background-color:#6b001c;
}
.sto-__PLACEHOLDER__-cta[region="st11"] {
    top: 245px;
    left: 89px;
    background-color:#452d43;
}
.sto-__PLACEHOLDER__-cta[region="st12"] {
    top: 249px;
    left: 124px;
    background-color:#550030;
}
.sto-__PLACEHOLDER__-cta[region="st13"] {
    top: 237px;
    left: 216px;
    background-color:#57392b;
}
.sto-__PLACEHOLDER__-cta[region="st14"] {
    top: 145px;
    left: 125px;
    background-color:#ad4525;
}
.sto-__PLACEHOLDER__-cta[region="st15"] {
    top: 305px;
    left: -151px;
    background-color:#0184be;
}

.sto-__PLACEHOLDER__-center svg {
  position: relative;
  z-index: 998;
  width: 457px;
  height: 366px;
}

.sto-__PLACEHOLDER__-center svg path:not(.st5),
.sto-__PLACEHOLDER__-center .sto-__PLACEHOLDER__-rest_world{cursor: pointer;}
.st0 {cursor: pointer;}
.st1[selected]{fill: #12418c; stroke: #12418c}
.st4[selected]{fill: #6d69ae; stroke: #6d69ae}
.st6[selected]{fill: #ee9502; stroke: #ee9502}
.st7[selected]{fill: #83c2e2; stroke: #83c2e2}
.st8[selected]{fill: #deab36; stroke: #deab36}
.st9[selected]{fill: #821813; stroke: #821813}
.st10[selected]{fill: #b80030; stroke: #b80030}
.st11[selected]{fill: #634160; stroke: #634160}
.st12[selected]{fill: #980056; stroke: #980056}
.st13[selected]{fill: #7b5c4d; stroke: #7b5c4d}
.st14[selected]{fill: #e05d35; stroke: #e05d35}


.nav_filtre {
    display: none !important;
}

#main {
  min-height: auto !important;
}

#content.rayons {
   min-height: 0px;
   margin-bottom: -1px;
   border-bottom: 2px solid #fff;
}





/* 1279px */

@media screen and (max-width: 1279px) {
    #content .contenu {
        width: 978px;
    }
    .sto-__PLACEHOLDER__-header {
        /* background-image: url(../../img/background.jpg); */
        height: 464px;
    }
    .sto-__PLACEHOLDER__-center {
        width: 481px;
        left: 50%;
        top: 62px;
        margin-left: -245px;
    }

    .sto-__PLACEHOLDER__-gutter-tg.gutter-left {
        left: 0;
        height: 464px;
    }
    .sto-__PLACEHOLDER__-gutter-tg.gutter-right {
        right: 0;
        height: 464px;
    }
    .sto-__PLACEHOLDER__-gutter-tg.gutter-left:after {
        right: 0;
        /*background-image: url(../../img/gutter_left.jpg);*/
    }
    .sto-__PLACEHOLDER__-gutter-tg.gutter-right:after {
        left: 0;
        /*background-image: url(../../img/gutter_right.jpg);*/
    }

    /* CARTE SVG */

    .sto-__PLACEHOLDER__-cta[region="st1"] {
        top: 214px;
        left: 231px;
        background-color:#3a72cb;
    }
    .sto-__PLACEHOLDER__-cta[region="st4"] {
        top: 286px;
        left: 270px;
        background-color:#3b3876;
    }
    .sto-__PLACEHOLDER__-cta[region="st6"] {
        top: 189px;
        left: 299px;
        background-color:#b97301;
    }
    .sto-__PLACEHOLDER__-cta[region="st7"] {
        top: 95px;
        left: 281px;
        background-color:#406c82;
    }
    .sto-__PLACEHOLDER__-cta[region="st8"] {
        top: 83px;
        left: 198px;
        background-color:#b5871f;
    }
    .sto-__PLACEHOLDER__-cta[region="st9"] {
        top: 140px;
        left: 207px;
        background-color: #ba423d;
    }
    .sto-__PLACEHOLDER__-cta[region="st10"] {
        top: 300px;
        left: 181px;
        background-color:#6b001c;
    }
    .sto-__PLACEHOLDER__-cta[region="st11"] {
        top: 245px;
        left: 89px;
        background-color:#452d43;
    }
    .sto-__PLACEHOLDER__-cta[region="st12"] {
        top: 254px;
        left: 133px;
        background-color:#550030;
    }
    .sto-__PLACEHOLDER__-cta[region="st13"] {
        top: 247px;
        left: 228px;
        background-color:#57392b;
    }
    .sto-__PLACEHOLDER__-cta[region="st14"] {
        top: 151px;
        left: 125px;
        background-color:#ad4525;
    }
    .sto-__PLACEHOLDER__-cta[region="st15"] {
        top: 314px;
        left: -135px;
        background-color:#0184be;
    }

    .sto-__PLACEHOLDER__-rest_world {
        top: 208px;
        left: -174px;
    }
}

.hoversto {
  position: absolute;
  top: 0px;
  height: 400px;
}
